<div>
    <h2>Motley Fool Returns vs S&P</h2>
    <div>
        <div>
            <span>
                <span>Stock Advisor</span>
            </span>
            <span>
                <span>S&P 500</span>
            </span>
        </div>
        <div>
            <span>5 Years</span>
            <!-- Stock advisor 5y -->
                <span>
                    <span>63%</span>
                </span>
                <!-- SP500 5y-->
                <span>
                    <span>41%</span>
                </span>
        </div>
        <div>
            <span>17+ years</span>
            <!-- Stock Advisor 17y -->
            <span>
                <span>371%</span>
            </span>
            <!-- S&P 17y -->
            <span>
                <span>99%</span>
            </span>
        </div>
        <div>
            <p>Stock Advisor launched in February of 2002. Returns as of 12/27/2019.</p>
            <a href="https://www.fool.com/mms/mark/op-sa-v-sp-wdg">Join Stock Advisor</a>
        </div>
    </div>
</div>
