html, body {
    background-color: #efefef;
    padding: 0;
    margin: 0;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 2rem 0rem;
    background-color: #fff;
    box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}
.logo {
    margin-left: 10%;
}
.container {
    background-color: #fff;
    max-width: 80%;
    margin: 2px auto 0;
    padding: 1rem;
}
.article-list {
    padding: 0;
}
.article {
    border-bottom: 1px solid;
    list-style: none;
    padding: 1rem;
}
[v-cloak] {
    display: none;
}
