{% load static %}

<html>
<head>
    <title>The Motley Fool</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" href="https://g.foolcdn.com/misc-assets/favicon.ico">
    <link rel="apple-touch-icon" href="https://g.foolcdn.com/misc-assets/apple-touch-icon.png">
    <!-- Meta data -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="http://www.fool.com" class="link-white no-hover" aria-label="home page">
                    <img alt="Motley Fool Logo" src="https://g.foolcdn.com/art/fool15/bg/fool-logo.png">
                </a>
            </div>
            <form action="http://127.0.0.1:8000/stock-market-news" class="search"> <!-- not functional, simply emulates a true search -->
                <input type="text" placeholder="Search">
                <button class="button" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
        <div class="color-line">
            <div class="color blue"></div>
            <div class="color yellow"></div>
            <div class="color red"></div>
            <div class="color green"></div>
            <div class="color blue"></div>
            <div class="color yellow"></div>
        </div>
    </header>
    <div id="foolinAround" class="container">
        <!--Page Content -->
        <div class="pagehead">
            <h1>Stock Market News</h1>
            <p>
                A Foolish take on stocks and the market. Get stock ideas, investing tips, and perspective.
            </p>
        </div>
        <div class="content">
            <div class="flex-container">
                <img v-if="articles.length === 0"
                     src="media/loading.gif"
                     class="loader" />
                <!-- Left margin -->
                <div v-cloak
                     v-if="articles.length > 0"
                     class="left-margin">
                    <section v-if="displayList">
                        <!-- Join SA CTA -->
                        {% include "partials/join_sa.htm" %}
                        <h2>Filter by:</h2>
                        <!-- below filters only display in desktop mode, radio buttons view better than a select menu -->
                        <div class="filters desktop">
                            <span>Bureau</span>
                            <ul>
                                <li v-for="refinement in bureauOptions">
                                    <input type="radio"
                                    :id="refinement.id"
                                    :value="refinement.value"
                                    v-model="refinement.selected"
                                    @click="checkRadios(refinement, bureauOptions)">
                                    <label>[[ refinement.text ]]</label>
                                </li>
                            </ul>
                        </div>
                        <div class="filters desktop">
                            <span>Instrument</span>
                            <ul>
                                <li v-for="refinement in instrumentOptions">
                                    <input type="radio"
                                    :id="refinement.id"
                                    :value="refinement.value"
                                    v-model="refinement.selected"
                                    @click="checkRadios(refinement, instrumentOptions)">
                                    <label>[[ refinement.text ]]</label>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section v-if="displayArticle">
                        <button class="button back" @click="swapView">Back to search results</button>
                        <!-- Join SA CTA -->
                        {% include "partials/join_sa.htm" %}
                    </section>
                </div>
                <!-- Artilce list display -->
                <section v-show="articles.length > 0 && displayList"
                         class="list-container">
                             <h1 v-cloak
                                 class="title">[[ titleText ]]</h2>
                    <!-- below filters only display in mobile mode, select menu views better than a list of radio buttons -->
                    <div class="filters-container mobile">
                        <h2>Filter by:</h2>
                        <div class="filters mobile"
                             v-if="articles.length > 0"> 
                            <span>Bureau:</span>
                            <select v-model="selectedBureau">
                                <option selected>- No filter -</option>
                                <option v-for="refinement in bureauOptions"
                                :value="refinement.value">[[refinement.text]]
                                </option>
                            </select>
                        </div>
                        <div class="filters mobile"
                             v-if="articles.length > 0">
                            <span>Instrument:</span>
                            <select v-model="selectedInstrument">
                                <option selected>- No filter -</option>
                                <option v-for="refinement in instrumentOptions"
                                :value="refinement.value">[[refinement.text]]
                                </option>
                            </select>
                        </div>
                    </div>
                    <ul class="article-list">
                        <li v-for="article in filteredArticles.slice(0, limit)"
                            :key="article.fool_uid"
                            class="list-article"
                            @click="selectArticle(article)">
                            <a href="#">
                                <div class="image">
                                    <img :src="article.images[0].image">
                                </div>
                                <div>
                                    <h3 v-html="article.headline"></h3>
                                    <span v-html="article.promo"></span>
                                    <span class="date">[[ new Date(article.publish_at).toDateString() ]]</span>
                                </div>
                            </a>
                        </a>
                        </li>
                    </ul>
                    <button class="button more" @click="viewMore" v-if="filteredArticles.length >= limit">View More</button>
                </section>
                <!-- Single article display -->
                <div v-if="displayArticle"
                     class="single-article">
                    <div class="author">
                        <img :src="selectedArticle.authors[0].small_avatar_url">
                        <div>
                            <span>[[ selectedArticle.byline ]]</span>
                            <span class="date">[[ new Date(selectedArticle.publish_at).toDateString() ]]</span>
                        </div>
                    </div>
                    <article v-html="selectedArticle.body"></article>
                </div>
            </div>
        </div>
        
    </div>    
    <!--JS -->
    <section>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script type="text/javascript" src="/static/script.js"></script>
    </section>
</body>
</html>
